html{
font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}

body {
  min-width: 630px;      /* 2x (LC fullwidth + CC padding) + RC fullwidth */
  background-color:#000000;
  color: #826128;
  overflow-x: hidden;
}
.tContainer{
display:inline-block;
white-space:nowrap;

}

.tboxContainer{
width:600px;

}


.experimentalDropDown{
margin-top: 1%;
margin-left:3%;
}

.subChar{

display:none;
}
.subInflu{
display:none;
}
.vocals{
display:none;
}

.logo{
margin-left:auto;
margin-right:30%;
width:16em;
}

.form{
	white-space:nowrap;
}
.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	color:#826128;
	border-bottom: 5px solid;
	display:inline-block;
	white-space:nowrap;
	position:relative;
	left:1%;
	bottom:5px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid;
	color:#826128;
	display:inline-block;
	white-space:nowrap;
	position:relative;
	left:1%;
	bottom:5px;
}


.drop_downSC{
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
}

.drop_downSI{
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
}
.drop_downV{
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
}



.video_link{
color: #826128 !important;
}
.video_link:hover{
color: #826128 !important;
}

.song_name{
	display:inline;
	white-space:nowrap;
	vertical-align: top;
	
}
.search_back{
	display:inline;
	position:relative;
	bottom:10%;
}
/* list */

#list_object{
	list-style-type:none;
}
