html{
font-family: Baskerville, “Baskerville Old Face”, “Hoefler Text”, Garamond, “Times New Roman”, serif;
}

body {
  min-width: 630px;      /* 2x (LC fullwidth + CC padding) + RC fullwidth */
  background-color:#000000;
  color: #826128;
  overflow-x: hidden;
}
#container {
  padding-left: 200px;   /* LC fullwidth */
  padding-right: 190px;  /* RC fullwidth + CC padding */
  color: #826128;
}
#container .column {
  position: relative;
  float: left;
  height:100px;
}
#center {
  padding: 10px 20px;    /* CC padding */
  width: 100%;
}
#left {
  width: 180px;          /* LC width */
  padding: 0 10px;       /* LC padding */
  right: 240px;          /* LC fullwidth + CC padding */
  margin-left: -100%;
}
#right {
  width: 130px;          /* RC width */
  padding: 0 10px;       /* RC padding */
  margin-right: -190px;  /* RC fullwidth + CC padding */
}
#footer {
  clear: both;
}/*** IE Fix ***/
* html #left {
  left: 150px;           /* RC fullwidth */
}
#header{
}















.tog{
background: #826128;
    cursor: pointer;
    border-top: solid 2px #eaeaea;
    border-left: solid 2px #eaeaea;
    border-bottom: solid 2px #777;
    border-right: solid 2px #777;
    padding: 5px 5px;   	
}

.genre{
width:70%;
margin-top:10%;
margin-right:20%;
margin-left:20%;
position:absolute;
min-height:20%;

}

.tContainer{
display:inline-block;
white-space:nowrap;

}

.tboxContainer{
width:600px;

}


.experimentalDropDown{
margin-top: 1%;
margin-left:3%;
}

.bottomMenu{
width:70%;
margin-top:22%;
margin-right:20%;
margin-left:20%;
position:absolute;
min-height:30%;
display:hidden;
white-space:nowrap;
display:inline;
}
.subChar{
min-height:30%;
width:33%;
display:none;
}
.subInflu{
position:absolute;
min-height:30%;
display:none;
width:33%;
left:29%;
top:0%;
}
.vocals{
position:absolute;
left:58%;
top:0%;
display:none;
}

.btn {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:75px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	position: absolute;
	left:45%;
	margin-top:38%;
}
.btn:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	position: absolute;
	left:45%;
	margin-top:38%;
}.btn:active {
	position: absolute;
	left:45%;
	margin-top:38%;
}

.logo{
margin-left:auto;
margin-right:30%;
width:16em;
}




.linkbar{
color: #826128;
position:relative;
left:85%;
}

.toplink{
color: #826128;
}



.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	color:#826128;
	border-bottom: 5px solid;
	display:inline-block;
	white-space:nowrap;
	position:relative;
	left:1%;
	bottom:5px;
}
.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid;
	color:#826128;
	display:inline-block;
	white-space:nowrap;
	position:relative;
	left:1%;
	bottom:5px;
}


.drop_downSC{
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
}

.drop_downSI{
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
	position:absolute;
	width:10%;
	left:29%;
	top:0%;
	z-index:1;
}
.drop_downV{
	cursor:pointer;
	display:inline-block;
	white-space:nowrap;
	position:absolute;
	width:10%;
	left:58%;
	top:0%;
	z-index:1;
}


.search-logo{
text-align:center;
}
.selected_att{
text-align:left;
}
.result{
font-size: 13pt;


}

.video_link{
color:#6E6527;
}

.song_name{
	display:inline;
	white-space:nowrap;
	
}
.search_back{
	display:inline;
	position:relative;
	bottom:10%;
}
.copyright{
  font-size:9pt;
  position:fixed;
  bottom:0;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)

}
.btn_search {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	font-style:normal;
	height:30px;
	line-height:30px;
	width:75px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
	position: relative;

}
.btn_search:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
	position: relative;

}.btn_search:active {
	position: relative;
}

/*----------------------------------------------------about--------------------------------------------------*/
#about_color{
background-color:#B6CEFF !important
}
.about_statement{
margin-left: auto;
    margin-right: auto;
    width: 70%;
text-align:center;
font-size:14pt;
width:60%;
}